html, body {
    width: 285px;
    min-height: 65px;

    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    margin: 7px 7px;
    padding-bottom: 6px;

    border-bottom: #ddd 1px solid;
}

header > img {
    margin-top: 3px;
    width: 23px;
    height: 23px;
}

header > h1 {
    margin: 3px 5px;
    margin-right: auto;

    color: #312;
    font-size: 20px;
    font-family: 'Open Sans', monospace;
}

@import "main_controlls";

@import "tab_list";

body > p {
    margin: 12px 0px 7px 12px;
    color: #312;
    font-weight: bold;
    font-size: 13px;
}


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}